/* HTML tag and some common CSSs */
body, html {
	height: 100%;
	margin: 0;
	font: 400 16px/18px 'Lato', arial, helvetica, sans-serif;
}

body {
/* 	background-image: url(../images/living-room-banner.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	float: right;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 5px;
	text-decoration: none;
	border: none;
	font-size: 20px;
}

li.dropdown {
	display: inline-block;
}

button {
	background: transparent;
	border: none;
	font-size: 16px;
	width: 75%;
	height: 30px;
	color: #ffffff;
}

h2 {
	font-size: 48px;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif
}

h3 {
	font-size: 26px;
}

p {
	font-size: 18px;
}

.side-nav-taskbar {
	height: 100%;
	font-family: 'serif';
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #222D33;
	overflow-x: hidden;
	padding-top: 20px;
}

.side-nav-taskbar a {
	/* 	font-family: Arial, Helvetica, sans-serif; */
	/* 	font-size: 18px; */
	font-family: 'Arbutus Slab';
	padding: 6px 6px 15px 20px;
	text-decoration: none;
	font-size: 14px;
	color: #ffff;
	display: block;
}

.side-nav-taskbar a:hover {
	color: #f1f1f1;
	text-decoration: none;
}

.homeicon{
	display: flex !important;
	flex-wrap: wrap;
}

label{
	font-weight: none !important;
}

.domisep{
	font-size: 17px;
	color: navajowhite; 
	font-family: 'Cherry Swash';
	margin: 5px !important;
	font-weight: normal !important;
/* 	letter-spacing: 0.5px; */
}
.icon {
	width: 55px;
	height: 55px;
}

.profile_part img{
	margin: 0px 55px 0px 65px;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.nav-icon{
	margin-right: 10px;
}

/* Top navbar,Logo CSS */
.header {
	width: 100%;
	overflow: hidden;
	background: rgb(0, 0, 0);
	position: fixed;
	z-index: 1;
}

.logo {
	float: left;
	padding: 10px;
}

.home_link, .contact_link, .faq_link, .dashboard_link, .support_link {
	color: white;
	font-size: 18px;
	padding: 10px;
	display: block;
}

/* Main content CSS */
.main {
	font-size: 16px;
	padding: 0px 10px;
	width: 85%;
	height: 100%;
	overflow: auto;
	padding-top: 20px;
	margin-left: 15%;
	background-image: url("../images/living-room-banner.jpg") ;
	background-size: cover;
}

/* Breadcrumb navigation tab  CSS on top */
.breadcrumb {
	margin: 0px;
	background-color: white !important;
		background-size:cover;
	color: white;
	width: 98%;
	height: 38px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	float: left;
}

.breadcrumb a {
	color: white;
	width: 100%;
	height: 50px;
	padding: 0px 0px 0px 15px;
	font-size: 18px;
	text-align: left;
}

.breadcrumb a:hover {
	width: 100%;
	color: currentcolor;
	background-color: none;
	text-shadow: 0px 1px 1px #fff;
	text-decoration: none;
}

/* Center content CSS - common */
.center-part {
	padding-top: 20px;
}

.welcome-user {
	color: ghostwhite;
	font-size: 24px;
	margin: 20px;
}

.no_Apt{
	    width: 60%;
    height: 150px;
    border: 1px solid;
    color: white;
    padding: 15px;
    padding-top: 60px;
    margin: 12%;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
}

/* Home and support content common CSS */
/* #home-content, #support-content, #faq-content, #profile-content {
	margin-top: 60px;
} */

/*Profile Content*/
#profile-form, .content, #change-pswd-form {
	width: 100%;
	margin: 23px auto;
	padding: 10px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 10px;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}

.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.submitbutton {
	width: 250px;
	float: left;
}

.btn {
	background-color: black;
	width: 60px;
	float: inherit;
	display: inline-block;
	padding: 1px;
	font-size: 15px;
	color: white;
	margin: 5px;
	/* border: solid 2px green; */
	border-radius: 5px;
}


/* FAQ block CSS */
.faq-block {
	padding: 20px;
	border: 1px solid;
	background-color: #d7dde5;
}

/* Support Content CSS */
.support-title {
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
	margin-top: 30px;
	margin-left: 0px;
	margin-bottom: 20px;
	color: lightgray;
	font-family: sans-serif;
}

.support-title h2 {
	/* padding-top: 25px; */
	margin-bottom: 20px;
}

.support-form input {
	border-bottom: 2px solid #000000;
	padding: 5px;
	height: 30px;
	outline: none;
	/*border: 1px solid black;*/
}

/* Support form and add home, room, sensor form CSS - common */
form {
	margin: 0px;
	/* padding: 30px; */
	float: left;
	transition: all 3s ease-in-out;
	/*border: 2px solid green;*/
}

.form-control {
	width: 700px;
	height: 180px;
	outline: none;
	border-bottom: 2px solid #000000;
	font-size: 14px;
	margin-bottom: 16px;
}

textarea {
	text-align: left;
	padding-left: 5px;
}

form .submit {
	background: #388dff;
	border-color: transparent;
	font-size: 18px;
	/*font-weight: bold;*/
	letter-spacing: 2px;
	height: 30px;
	margin-top: 20px;
}

form .submit:hover {
	background-color: #d7dde5;
	cursor: pointer;
}

.input-add-home{
	padding: 5px !important;
    margin: 10px !important;
    margin-left: 30px !important;
}

.input-add-home input {
	width: 265px !important;
}
.input-field {
	/* padding: 10px;*/
	text-align: left;
	margin: 20px;
	margin-left: 30px;
}

.input-field input {
	width: 95%;
	height: 35px;
}

/* Adding modal css */
.add-home-modal, .add-room-modal, .add-sensor-modal {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
}

#addHomeModal,#addRoomModal,#addSensorModal{
	display: none;
}
.add-modal-content {
	background-color: #fefefe;
	margin: 5% 5% 15% 30%;
	padding-top: 30px;
	border: 1px solid #888;
	width: 35%;
	height: 60%;
}

.modal-title {
	text-align: center;
	font-size: 24px;
	margin: 20px !important;
}

.add-btn {
	margin-top: 20px;
	background-color: rgb(1, 83, 143);
	border: 0px;
	width: 20%;
	margin-left: 10%;
	font-size: 1.3em;
	position: absolute;
	top: 60%;
	right: 30%;
	left: 33%;
}

.close {
	color: black;
	float: right;
	font-size: 40px !important;
	font-weight: bold;
	position: absolute;
	top: 24%;
	right: 36%;
}

.add-room-img, .add-sensor-img {
	padding: 25px;
	margin-left: 20px;
	width: 30%;
}

/*Home,room,sensor add and display block CSS -common*/
.addHomeBlock, .addRoomBlock, .addSensorBlock {
	width: 95%;
	float: left;
	margin: 0 20px 10px 20px;
	height: 280px;
	/* overflow-y: scroll; */
	/* position: relative; */
}

.add-home-temp {
	float: left;
	min-width: 20%;
	margin: 20px;
	margin-left: 15px;
	margin-right: 20px;
	/* margin-top: 5px; */
	height: 200px;
	display: inline-flex;
}

.iconLeftSide {
	display: none;
}

.custom_block span, .custom_block a {
	display: block;
	margin: 0 auto 4px;
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
	letter-spacing: -.34px;
	color: rgb(40, 40, 40);
	text-decoration: none;
}

.thumbnail, .thumbnail-aftr-home {
	width: 100%;
	height: 230px;
	min-height: 280px;
	margin-bottom: 0;
	padding: 0;
	display: block;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #ddd;
	border-radius: 4px;
	transition: border .2s ease-in-out;
	overflow-y: scroll;
	overflow-x: hidden;
}

.thumbnail-aftr-home {
	min-height: 230px;
}

.thumbnail-placeholder {
	background-image: url(add-home1.png) !important;
	background-size: 100% 100%;
	width: 210px;
	height: 180px;
	margin: auto;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.thumbnail-room {
	background-image: url(LR1.jpg) !important;
	background-size: 100% 100%;
	margin-left: 10px;
	width: 200px;
	height: 180px;
	margin: auto;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.thumbnail-sensor {
	background-image: url(sensor-img.png) !important;
	background-size: 100% 100%;
	margin-left: 10px;
	width: 200px;
	height: 180px;
	margin: auto;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.thumbnail .caption {
	padding: 20px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 37px;
}

.thumbnail-placeholder div, .thumbnail-room div {
	position: absolute;
	width: 320px;
	height: 180px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.add-home, .add-room, .add-sensor {
	width: 90px;
	height: 100px;
}

.addHomeHeading {
	margin: 2px;
	padding: 10px;
	width: 100%;
	padding-left: 25px;
	height: 45px;
	position: relative;
	z-index: 0;
	color: White;
/* 	background: #5B5890; */
	/* 	opacity: 0.5; */
	font-weight: bold;
	font-size: 20px;
	font-weight: bold;
	background: #00b3b3;
}

.addHomeButton a {
	text-decoration: none;
}

.addHomeButton span {
	display: inline;
}

.addHomeButton {
	padding: 10px;
	float: right;
/* 	width: 206px; */
	height: 65px;
	margin: 10px;
	margin-right: 40px;
	background-color: white;
	/* opacity: 0.3; */
	border-radius: 5px;
	border: 1px solid;
}

/* Room block side-bar CSS */
.sidenav {
	height: 200px;
	width: 220px;
/* 	background-color: #646464; */
	overflow-x: hidden;
	overflow-y: auto;
	transition: 0.5s;
	border: 0.5px solid;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.sidenav a:hover {
	color: #3A3A3A;
}

/* Sensor Display  */
.sensor-display {
	width: 190px;
	height: 80px;
	margin: 10px;
	display: inline-flex;
	border: 0.5px;
	background: lightblue;
}

/* Sensor S sliders */
.switch {
	margin-top: 35px;
	position: relative;
	display: inline-block;
	width: 45px;
	height: 45px;
	padding: 25px;
	margin-left: 4px;
	margin-right: 4px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	height: 28px;
    width: 52px;
    border-radius: 30px;
    padding-top: 20px;
    margin-top: 0px;
}

.slider.round:before {
	border-radius: 50%;
}

.error{
	color: red;
    padding: 0;
	width: 100%
	display: block !important;
	border: none;
	background: none;
	text-align: center;
}

.hidden{

	display: none !important;
}

.show{

	display: block !important;
}